:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  padding: 10px;
}

section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    width: 80%;
  }

  article {
    width: 80%;
    margin: 20px auto;
  }
}

footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
