<ng-container *ngIf="workshops$ | async as workshops">
  <ul @slideIn class="list-group">
    <li class="list-group-item" *ngFor="let workshop of workshops$ | async; trackBy: trackByFn">
      <h3>{{ workshop.name }}</h3>
      <p>{{ workshop.description }}</p>
      <div class="actions">
        <a [routerLink]="['/workshops', workshop.id]" class="btn">
          Start
        </a>
      </div>
    </li>
  </ul>
</ng-container>
<account-toolbar>
  <a routerLink="/account/profile">Profile</a>
</account-toolbar>
