:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

ul {
  flex: 1;
  overflow: auto;
  padding: 20px;

  .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

footer {
  padding: 10px;
}
