:host {
  height: 100%;
  display: block;
  overflow: hidden;
}

header, footer {
  height: 60px;
}

markdown {
  display: block;
  height: calc(100% - 120px);
  overflow: auto;
  padding: 5px;

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4 {
    font-size: 1rem;
  }
}
