<header class="bg-light">
  <back-button link="/workshops/list"></back-button>
  <h4>Profile</h4>
</header>

<section>
  <ng-container *ngIf="isTutor$ | async; else registration">
    <article>
      <span>You're registered as tutor</span>
      <button class="btn btn-danger" (click)="unregister()">Unregister</button>
    </article>
  </ng-container>
  <ng-template #registration>
    <article>
      <span>Register as Tutor to make your workshop public</span>
      <button class="btn btn-info" (click)="register()">Register</button>
    </article>
  </ng-template>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let workshop of workshops$ | async">
      <h3>{{ workshop.name }}</h3>
      <p>{{ workshop.description }}</p>
      <div class="actions">
        <a [routerLink]="['/workshops', workshop.id, 'edit']" class="btn">
          Edit
        </a>
      </div>
    </li>
  </ul>
</section>


<footer class="bg-light" *ngIf="!importMode; else importFooter">
  <a class="btn btn-success" routerLink="/workshops/create">Create workshop</a>
  <button class="btn" (click)="importMode = !importMode">
    <span *ngIf="!importMode">Or Import from Github</span>
    <span *ngIf="importMode">Cancel</span>
  </button>
</footer>

<!-- Form for importing workshops -->
<ng-template #importFooter>
  <footer class="bg-light import-footer">
    <div class="form-group">
      <label>Link to Github Repository</label>
      <input class="form-control" [formControl]="importForm"
        placeholder="e.g.: https://github.com/ethereum/remix-ide" />
    </div>
    <div class="actions">
      <button class="btn" (click)="importMode = false">Cancel</button>
      <button class="btn btn-success" (click)="sync()">Import workshops</button>
    </div>
  </footer>
</ng-template>
