<header class="bg-light">
  <back-button link="/workshops/list"></back-button>
  <h4>Profile</h4>
</header>

<section>
  <ng-container *ngIf="isTutor$ | async; else registration">
    <article>
      <span>Welcome back !</span>
    </article>
  </ng-container>
  <ng-template #registration>
    <article>
      <span>Register as Tutor to make your workshop public</span>
      <button class="btn btn-success" (click)="register()">Register</button>
    </article>
  </ng-template>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let workshop of workshops$ | async">
      <h3>{{ workshop.name }}</h3>
      <p>{{ workshop.description }}</p>
      <div class="actions">
        <a [routerLink]="['/workshops', workshop.id, 'edit']" class="btn">
          Edit
        </a>
      </div>
    </li>
  </ul>
</section>


<footer class="bg-light">
  <a class="btn" routerLink="/workshops/create">Create workshop</a>
</footer>
