:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 5px;
}

header {
  justify-content: space-between;
}

section {
  flex: 1;
  overflow: auto;

  article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
  }

  .empty {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }

  ul {
    padding: 20px;
  }

  .import-form {
    padding: 10px;
  }
}

.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;

  a {
    margin: 0 5px;
  }
}

.create.import {
  align-items: stretch;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
