<header class="bg-light">
  <a class="btn back" routerLink="/workshops/list" role="button">
    <span>Back</span>
  </a>
  <h4>Profile</h4>
</header>

<section>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let workshop of workshops$ | async">
      <h3>{{ workshop.name }}</h3>
      <p>{{ workshop.description }}</p>
      <div class="actions">
        <a [routerLink]="['/workshops', workshop.id, 'edit']" class="btn">
          Edit
        </a>
      </div>
    </li>
  </ul>
</section>


<footer class="bg-light">
  <a class="btn" routerLink="/workshops/create">Create workshop</a>
</footer>
