:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header, footer {
  display: flex;
  align-items: center;
  padding: 10px 5px;
}

section {
  flex: 1;
  padding: 20px;
  overflow: auto;

  .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

footer {
  justify-content: flex-end;

  a {
    margin: 0 5px;
  }
}
