<footer class="bg-light">
  <ng-container *ngIf="isLoading$ | async; else loaded">
    <span class="btn">Request 3box plugin to signin</span>
  </ng-container>
  <ng-template #loaded>
    <ng-container *ngIf="isLoggedIn$ | async; else signin">
      <button class="btn" (click)="logout()">Logout</button>
      <ng-content></ng-content>
    </ng-container>
    <ng-template #signin>
      <button class="btn" (click)="login()">Signin</button>
    </ng-template>
  </ng-template>
</footer>

<ngb-toast *ngIf="error" [delay]="1000" (hide)="error = null">
  {{ error }}
</ngb-toast>
