<footer class="bg-light">
  <ng-container *ngIf="isLoading$ | async; else loaded">
    <span class="btn">Requesting 3box plugin to log in</span>
  </ng-container>
  <ng-template #loaded>
    <ng-container *ngIf="isLoggedIn$ | async; else loginBtn">
      <button class="btn" (click)="logout()">Logout</button>
      <ng-content></ng-content>
    </ng-container>
    <ng-template #loginBtn>
      <button class="btn" (click)="login()">Log in</button>
    </ng-template>
  </ng-template>
</footer>

<ngb-toast *ngIf="error" [delay]="1000" (hide)="error = null">
  {{ error }}
</ngb-toast>
