<form [formGroup]="control">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="Username">Name</span>
    </div>
    <input type="text" class="form-control" placeholder="name" aria-label="Username" formControlName="name">
  </div>
  <div class="input-group">
    <textarea type="text" class="form-control" placeholder="Description" aria-label="Description"
      formControlName="description">
    </textarea>
  </div>
  <!-- Steps -->
  <ngb-accordion #acc="ngbAccordion" formArrayName="steps">
    <ngb-panel *ngFor="let step of control.steps.controls; let i = index">
      <ng-template ngbPanelTitle>
        <span>Step {{ i }}</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <step-form [formGroupName]="i"></step-form>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <button type="button" class="btn btn-primary" (click)="control.addStep()">Create new Step</button>
</form>
