:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header, footer {
  padding: 10px 5px;
}

section {
  flex: 1;
  padding: 15px;
  overflow: auto;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a {
    margin: 0 5px;
  }
}
