/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

footer {
  padding: 10px;
}

.btn {
  cursor: pointer;
}

a, a:hover {
  text-decoration: none;
}
